<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
</head>
<body>

  <h1><%= title %></h1>

  <!-- Login page button -->
  <form action="/login" method="post" accept-charset="utf-8">
    <input type="text" name="userNameInputValue" value="" placeholder="Username" autofocus>
    <input type="PASSWORD" name="passwordInputValue" value="">
  </form>
</body>
</html>
